
/* p:hover{
    background-color: sandybrown;
    border: 2px solid green;
    height: 200px;
    width: 200px;
} */
/* .p::after{
    content: "Hello World";
} */
/* .p1::before{
    content: "Hello World";
} */
/* .p1::backdrop{
    content: "Hello World";
} */
.main{
    background-color: sandybrown;
    /* border: 2px solid green; */
    width: 200px;
    height: 200px;
}