*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #ffff;
    color: #212529;
    display: flex;
    justify-content: space-evenly; 
    text-decoration: none;
    padding: 2rem 0rem;
    /* border: 2px solid black; */
    width: 100%;
    
    .logo{
        width: 1%;
    }
    .ul{
        display: flex;
        text-align: center;
        #ulli{
            padding: 0.5rem;
            justify-content: center;
            text-align: center;
            padding-left: 1rem;

        }
    } 
   
    
    .ulin{
        display: none;
        position: absolute;
        margin-top: 35px;
        text-decoration: none;
      
    }
    .login{
        display: flex;
        
        .logintext{
            text-decoration: none;
        }
    }  
    #ulli:hover{
         
        border-bottom: 2px solid brown;
        .ulin{
            display: block;
        }
    }
}
.show{
    /* border: 2px solid black; */
   
    
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.left{
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100vw;
    background-size: cover;
    .categories__text{
        margin: 20rem 25%;
        
        width: 45%;
        height: auto;
        
    }
}
.categories__text h1 , a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    text-decoration: none;
}
.categories__text p{
    padding: 20px 0px;
    font-size: 1.2rem;
    color: rgb(66, 64, 64);
}
.categories__text a{
    
    color: slategrey;
    
    font-size: 1.5rem;
    border-bottom: 4px solid brown;

}
.categories__text a:hover{
    
    background-color: #55585b;
    color: aliceblue;
    padding: 5px;
    border-radius: 5px;
    border-bottom-style: ridge ;

}
.option{
    margin: auto;
    width: 80%;
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    /* border: 2px solid black; */
   margin-top: 35px;
    .header1{
        justify-content: space-between;
    }
    
}
.product{
    /* position: relative; */
    /* border: 2px solid black; */
    display: flex;
}
.product1{
    /* border: 2px solid black; */
    display: flex;
    width: 292.5px;
    height: 483.2px;
    margin: 5px;
   position: relative;
   overflow: hidden;
   
}
.product1:hover{
    .favicon{
        transition: 2s;
        bottom: -15%;
        
    }
}
.favicon{
    position: absolute;
    /* background-color: aqua; */
    height: 50%;
    width: 100%;
    bottom: -50%;
    
}
.favicon span{
    color: gold;
    text-align: center;
    justify-content: center;
    margin: auto;

  }
.product1 img{
    /* width: 292.5px; */
    width: auto;
    height: 360px;
    padding: 15px 0px 0px 15px;
}
#text1{
    position: absolute;
    bottom: 15px;
    /* border: 2px solid black; */
    justify-content: center;
    left: 50px;
    text-align: center;
    
}
#text1 p{
  font-family:'Courier New', Courier, monospace;
  padding: 5px;
}
#text1 span{
  color: gold;
  
}
#text1 h4{
 
    padding: 5px;
  
}

.textslider{
    width: 100vw;
    background-image: url('banner-1.jpg');
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* margin: auto; */
}
.textslider1{
    /* width: 45%; */
    justify-content: center;

    display: flex;
    padding: 190px 0px;
    /* border: 5px solid black ; */
    #textslidernow{
        text-align: center;
        
    }
}
#textslidernow p{
    color: red;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    
}
#textslidernow a{
   
    /* padding-top: 5px; */
    font-family: Arial, Helvetica, sans-serif;
    color: #55585b;
    border-bottom: 2px solid brown ;
    
}
#textslidernow h1{
   
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}
.three{
  
    width: 80vw;
    /* border: 2px solid black; */
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.threecontent{
    width: auto;
   /* border: 2px solid black; */
}
.threeimg{
    /* border: 2px solid black; */
    display: flex;
    width: auto;
    margin-top: 35px;
}
#thre{
    /* border: 2px solid black; */
    padding-top: 15px;
    padding-left: 15px;
    width: auto;
}
#thre span{
    color: gold;
    margin: 1px;
}
.three1{
    margin: auto;
    display: flex;
    margin-top: 100px;
}
.time{
    background-image: url('blog-4.jpg');
    /* border: 2px solid black; */
    width: 35rem;
    height: 25rem;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}
.intst{

    width: 100vw;
    display: flex;
    margin: 0px;
    margin-top: 300px;
    border: 2px solid black;
    box-sizing: border-box;
    overflow: hidden;
}
.intst img{
   
    width: auto;
    
}
.intst img:hover{
    background-color: white;
    z-index: -1px;
}

