*{
    margin: 0px;
    padding: 0px;
}
nav{
    border: solid 2px black;
    position: fixed;
    width: 400px;
    height: 100%;
    background-color: #b52217 ;
    color: aliceblue;
    position: fixed;    
}
.Name{
    
    padding-top: 64px ;
    padding-bottom: 64px ;
    padding-left: 68px;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    
   
}
.buttones{
   
    padding-bottom: 64px ;
    padding-left: 68px;
    font-family: "Poppins", sans-serif;
   
    /* font-size: 24px; */
    .insidebuttones{
        text-decoration: none;
        color: aliceblue;
        font-size: 20px;
        
        

    }
    
}
.insidebuttones :hover{
    color: aliceblue;
    width: 100%;
    box-shadow: none;
}

.Main{
    
    background-color: rgb(199, 212, 212);
    width: 77%;
    
    padding-left: 340px;
        
}
.header{
   
   position: absolute;
   padding-left: 400px ;

}
.imgsix{
    
     margin-left: 70px;
     position: relative;
}
#six{
    width: 500px;
    height: 400px;
    padding: 10px;     
}

h3{
    color: #b52217;
    font-family: Poppins, sans-serif;
    margin-left: 70px;
    position: relative;
    font-size: 64px;

}
#text{
    font-family:  Poppins, sans-serif;
    margin-left: 90px;
    fo
    
}